<!DOCTYPE html>
<html lang="en"> 
<!--Rattananarin Yodruan 670510676-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Precipitation Calendar - Hat Yai</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/hw03.css') }}">
</head> 

<body>

<div class="container">
    <h2>Precipitation Calendar - Hat Yai</h2>

  <table>
    <thead>
        <tr>
            {% for month_name in months.keys() %}
            <th>{{ month_name }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for day_index in range(trend_perday + 1)%}
        <tr class="{% if day_index % 2 == 0 %}even-row{% else %}odd-row{% endif %}">
            {% for month_name, days in months.items() %}
            <td>
                {% if day_index < days|length %}
                <div class="cell-content">
                    <span class="day">{{ days[day_index].day }}</span>
                    <span class="days">{{days[day_index].days}}</span>
                    <span class="prcp">{{ days[day_index].trend}}{{ "%.1f" | format(days[day_index].prcp) }}</span>
                </div>
                {% else %}
                <div class="cell-content"></div>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
</body>
</html>




