<!DOCTYPE html>
<html lang="en">
<!--Rattananarin Yodruan 670510676-->


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Precipitation Calendar - Hat Yai</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/hw03.css') }}">
</head>


<body>
  <h2>Precipitation Calendar - Hat Yai</h2>
  <!-- Add table structure here -->
  <h3>{{ utc_dt }}</h3>
</body>
{{ data }}
 <table>
  <tr>
    <th> JAN 2025 </th>
    <th> FEB 2025 </th>
    <th> MAR 2025 </th>
    <th> APR 2025 </th>
    <th> MAY 2025 </th>
  </tr>
  
</table> 
<table>
  
  </table>
</html>
