.icon-good {
    background-image: url('../ico/good.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 90%;
    height: 0;
    padding-bottom: 60%;
    /* Maintains aspect ratio */
    margin: auto;
}

.icon-moderate {
    background-image: url('../ico/moderate.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 90%;
    height: 0;
    padding-bottom: 60%;
    /* Maintains aspect ratio */
    margin: auto;
}

.icon-unhealthy-sensitive {
    background-image: url('../ico/unhealthy-sensitive.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 90%;
    height: 0;
    padding-bottom: 60%;
    /* Maintains aspect ratio */
    margin: auto;
}

.icon-unhealthy {
    background-image: url('../ico/unhealthy.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 90%;
    height: 0;
    padding-bottom: 60%;
    /* Maintains aspect ratio */
    margin: auto;
}

.icon-very-unhealthy {
    background-image: url('../ico/very-unhealthy.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 90%;
    height: 0;
    padding-bottom: 60%;
    /* Maintains aspect ratio */
    margin: auto;
}

.icon-hazardous {
    background-image: url('../ico/hazardous.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 90%;
    height: 0;
    padding-bottom: 60%;
    /* Maintains aspect ratio */
    margin: auto;
}

.col-3 {
    margin: 50px;
    width: 20;
    height: 30;
}   
.container {
    flex-direction: row;
}

