.icon-good {
    background-image: url('../ico/good.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 90%;
    height: 0;
    padding-bottom: 60%;
    /* Maintains aspect ratio */
    margin: auto;
}

.icon-moderate {
    background-image: url('../ico/moderate.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 90%;
    height: 0;
    padding-bottom: 60%;
    /* Maintains aspect ratio */
    margin: auto;
}

.icon-unhealthy-sensitive {
    background-image: url('../ico/unhealthy-sensitive.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 90%;
    height: 0;
    padding-bottom: 60%;
    /* Maintains aspect ratio */
    margin: auto;
}

.icon-unhealthy {
    background-image: url('../ico/unhealthy.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 90%;
    height: 0;
    padding-bottom: 60%;
    /* Maintains aspect ratio */
    margin: auto;
}

.icon-very-unhealthy {
    background-image: url('../ico/very-unhealthy.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 90%;
    height: 0;
    padding-bottom: 60%;
    /* Maintains aspect ratio */
    margin: auto;
}

.icon-hazardous {
    background-image: url('../ico/hazardous.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 90%;
    height: 0;
    padding-bottom: 60%;
    /* Maintains aspect ratio */
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

.column {
    background-color: #e8e8e8;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    color: #333;
}

.years {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.date {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: 15px;
}

.years {
    font-size: 16px;
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: 10px;
    margin-left: 80px;
}

.column-group {
    display: flex;
    flex-direction: column;
    gap: 0;
    position: relative;
}

.predict {
    display: flex;
    flex-direction: column;
}

.quality {
    font-size: 51px;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 0;
}

.salup {
    font-weight: 100;
    text-align: center;
    margin-top: 5px;
}

.img-good {
    position: absolute;
    top: 100px;
    left: 65%;
    /* transform: translate(-50%); */
    height: 90px;
}

.img-moderate {
    position: absolute;
    top: 100px;
    left: 65%;
    /* transform: translate(-50%); */
    height: 90px;
}

.img-unhealthy {
    position: absolute;
    top: 100px;
    left: 66%;
    /* transform: translate(-50%); */
    height: 90px;
}

.img-unhealthy2 {
    position: absolute;
    top: 100px;
    left: 65%;
    /* transform: translate(-50%); */
    height: 90px;
}

.img-veryunhealthy {
    position: absolute;
    top: 102px;
    left: 65%;
    /* transform: translate(-50%); */
    height: 90px;
}

.img-hazardous {
    position: absolute;
    top: 102px;
    left: 65%;
    /* transform: translate(-50%); */
    height: 90px;
}

.content {
    display: flex;
    flex-direction: column;
    /* background-color: #00E400; */
    margin-bottom: 0;
    padding-bottom: 0;
}

.bg-green {
    background-color: #00E400;
}

.bg-yellow {
    background-color: #FFFF00;
}

.bg-orange {
    background-color: #FF7E00;
}

.bg-red {
    background-color: #FF0000;
}

.bg-purple {
    background-color: purple;
}

.bg-maroon {
    background-color: #7E0023;
}

.timeline-group {
    background-color: #e8e8e8;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    color: #333;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.timeline {
    background-color: #e8e8e8;
    border: 1px solid #ccc;
    display: flex;
    gap: 80px;
    padding: 15px;
    justify-content: center;
    margin-top: 0;
}

.timeline-item {
    flex: 1;
    text-align: center;
    white-space: nowrap;
    margin-top: -15px;
}

.aqi-bar {
    display: block;
    margin-top: 5px;
    padding: 2px 0;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}


.green {
    background-color: #00E400;
    color: black;
}

.red {
    background-color: red;
    color: white;
}

.yellow {
    background-color: yellow;
    color: black;
}

.bg-orange {
    background-color: orange;
    color: black;
}




.years-1 {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.date-1 {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: 15px;
}

.years-1 {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: 10px;
    margin-left: 80px;
}

.quality-1 {
    color: white;
    font-size: 51px;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 0;
}

.salup-1 {
    color: white;
    font-weight: 100;
    text-align: center;
    margin-top: 5px;
}


.img-good1 {
    position: absolute;
    top: 102px;
    left: 65%;
    /* transform: translate(-50%); */
    height: 90px;
}

.img-unhealthyNew {
    position: absolute;
    top: 102px;
    left: 65%;
    /* transform: translate(-50%); */
    height: 90px;
}

.img-good2 {
    position: absolute;
    top: 104px;
    left: 65%;
    /* transform: translate(-50%); */
    height: 90px;
}

.img-moderate1 {
    position: absolute;
    top: 104px;
    left: 65%;
    /* transform: translate(-50%); */
    height: 90px;
}

.img-hazardous2 {
    position: absolute;
    top: 104px;
    left: 65%;
    /* transform: translate(-50%); */
    height: 90px;
}

.img-veryunhealthy1 {
    position: absolute;
    top: 104px;
    left: 65%;
    /* transform: translate(-50%); */
    height: 90px;
}