body {
    background-color: #eaebed;
}


nav {
    background-color: #ffffff;
    border-bottom: 1px solid #adb1b4;
    margin-bottom: 10px;
}
img.tw-user-small {
    width: 32px;
    height: 32px;
    object-fit: cover;
}
img.tw-user-medium {
    width: 48px;
    height: 48px;
    object-fit: cover;
}


#nav-search {
    border-radius: 20px;
    background-color: #cdddeb
}


#nav-tweet-btn {
    border-radius: 25px;
    background-color: #41adec;
    color: #ffffff;
}
.content-box {
    background-color: #ffffff;
    margin-bottom: 10px;
}
.new-tweet-row {
    background-color: #eaf5fe;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tweet {
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #edf1f4;
}


.tweet-username {
    font-weight: bold;
}


.tweet-arrow {
    padding-right: 25px;
}


.tweet-text,
.tweet-media {
    padding-right: 10px;
}


