body {
    background-color: white;
}
.contact .label {
    font-weight: normal;
}
h2 {
    font-size: 26px;
    margin-top: 30px;
}

h3 {
    font-size: 20px;
    margin-top: 10px;
    color: #333;
}
.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
}
