<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Quality Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hw04.css') }}">
</head>

<body>
    <div class="container">
        {% for city in cities %}
        <div class="column-group">
            <div class="column">{{ city.name }} air quality index</div>
            <section class="content {{ city.bg_class }}">
                <p class="date">{{ city.date }}</p>
                <p class="years">{{ city.year }}</p>
                <p class="quality">{{ city.aqi }}</p>
                <p class="salup">{{ city.status }}</p>
            </section>
            <img class="{{ city.img_class }}" src="{{ url_for('static', filename='ico/' + city.icon) }}"
                alt="{{ city.status }}">

            <div class="timeline">
                <div class="timeline-item">
                    Dec 25
                    <div class="aqi-bar green">60</div>
                </div>
                <div class="timeline-item">
                    Dec 26
                    <div class="aqi-bar yellow">55</div>
                </div>
                <div class="timeline-item">
                    Dec 27
                    <div class="aqi-bar green">50</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>